/* HEADER */ 
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


html{
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

nav{
  overflow: hidden;
  background-color: #FFFF;
  box-shadow: 0 3px 5px rgba(60, 63, 72, 0.3);
  position:fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  transition: top 0.7s;
}

nav a {
  float: left;
  color: #272727;
  text-align: center;
  padding: 12px;
  font-family: 'Josefin Sans',sans-serif;
  font-weight: 400;
  text-decoration: none;
  font-size: 18px; 
  line-height: 27px;

}

nav a:hover {
  color: #FF914D;
  text-decoration: none;
}

nav .header-direita {
  float: right;
  padding-right: 35px;
    line-height: 50px;
      margin-left: 50px;
      padding-top: .3em;
}

@media screen and (max-width: 500px) {
  nav a {
    text-align: center;
  }
  
  nav .header-direita {
    float: none;
  }
}


/*IMAGEM DO USUÁRIO*/
.avatar {
  height: 60px;
				width: 60px;
				border-radius: 80px;
				border: 3px solid #fff;
        object-fit: cover;
}


.logo img{
  height: 45px;
    width: auto;
     padding-left: 25px;
}

/* CORPO*/


  .botoes-escolha-bico{
    margin-top: 15%;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Josefin Sans',sans-serif;
    font-weight: 300;
  }
  
    .botoes-escolha-bico h1{
      font-weight: bolder;
      font-size: 45px;
      color: #444343;
    }

    .botoes-escolha-bico a{
      font-weight: bold;
      font-size: 22px;
      max-width: 200px;
      width: 40%;
    }

  #botao-lista-bico{
    padding: 40px;
    background-color:#FF914D;
    color: white;
    border: none;
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
    max-width: 500px;
    width: 90%;
     transition: 0.5s ease;
  }
  
  #botao-anuncio-bico{
    padding: 40px;
    background-color: #272727;
    color: white;
    border: none;
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
    max-width: 500px;
    width: 100% ;
    transition: 0.5s ease;
  }

  #botao-anuncio-bico:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  #botao-anuncio-bico h1 {
    font-size: 40px;
    color: #FF914D;
  }

  #botao-lista-bico:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

/* FOOTER */ 


.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  margin-top: 550px;
  bottom: 0;
  position: fixed;
  width: 100%;
  font-family:'Josefin Sans',sans-serif;
    font-weight:300;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5;
  max-width:1130px ;
}

.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#FF914D;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#FF914D;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}


.copyright-text img{
 height: 25px;
 width: auto;

}

@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:1;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:10px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:7px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons img {
   width: 100%;
   height: auto;
 }

.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.discord:hover
{
  background-color:#007bb6
}

.social-icons a.instagram:hover
{
  background-color:#ab00ed
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:1;
    font-weight:600
  }
}



/*POP UP*/

.popup{
  position: fixed;
  top: 110px;
  right: 30px;
  padding: 10px 20px;
  width: 275px;
  box-sizing: 0 5px 25px rgba(0,0,0,0.1);
  box-shadow: 0 12px 30px rgba(60, 62, 72, 0.3);
  border-radius: 15px;
  background:  #ededed;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;

}

.popup.active{
top: 70px;
visibility: visible;
opacity: 1;
}

.overlay{
position: absolute;
left: 0;
top:0;
height: 20%;
width: 100%;
background: linear-gradient(-135deg, #2c0058, #ff914d);
border-radius: 5px;

}




#um{
  height: 65px;
  width: 65px;
  border-radius: 80px;
  border: 3px solid #fff;
  position: relative;
  left: 35%;
  top: 40px;
  margin-bottom: 40px;
  object-fit: cover;
}

.popup h3{
font-family: 'Josefin Sans',sans-serif;
width: 100%;
text-align: center;
font-size: 18px;
padding: 20px 0;
font-weight: 500;
color: #555;
line-height: 1em;
}

.popup h3 span{
font-size: 14px;
color: #b0b0b0;
font-weight: 400;
}

.popup ul li{
list-style: none;
padding: 2px 0 ;
border-top: 1px solid rgba(0,0,0,0.05);
display: flex;
align-items: center;
margin-left: -20px;
}

.popup ul li img{
max-width: 20px;
margin-right: 5px;
opacity: 0.5;
transition: 0.5s;
}

.popup ul li:hover img{
opacity:1 ;
}

.popup ul li a{
display: inline-block;
text-decoration: none;
color: #555;
font-weight: 500;
transition: 0.5s;
}

.popup ul li:hover a{
background: -webkit-linear-gradient(-135deg, #e13008,#ddb73a);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
transform: translate(15px,0)  ;
}

/*POP UP*/

.button {
  float: bottom;
  padding: 15px;
  border: none;
  color: #fff;
  font-size: 20px;
  font-family:'Josefin Sans',sans-serif;
  font-weight: 600;
  cursor: pointer;
   background: #FF914D;
   text-decoration: none;
   border-radius: 30px;
   text-align: center;
   align-items: center;
   
  }

  .button:hover{
  font-size:24px ;
  background: linear-gradient(-135deg, #ff914d, #2c0058);
  }