/* HEADER */ 
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

nav{
  overflow: hidden;
  background-color: #FFFF;
  box-shadow: 0 3px 5px rgba(60, 63, 72, 0.3);
  position:fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  transition: top 0.7s;
}

nav a {
  float: left;
  color: #272727;
  text-align: center;
  padding: 12px;
  font-family: 'Josefin Sans',sans-serif;
  font-weight: 400;
  text-decoration: none;
  font-size: 18px; 
  line-height: 27px;

}
 nav a:hover {
  color: #FF914D;
  text-decoration: none;
}

 nav .header-direita {
  float: right;
  padding-right: 35px;
    line-height: 50px;
      display: inline-block;
      margin-left: 50px;
      padding-top: .8em;
}

@media screen and (max-width: 500px) {
nav a {
    text-align: center;
  }
  
 nav .header-direita {
    float: none;
  }
}

.logo img{
  height: 45px;
    width: auto;
     padding-left: 25px;
}


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

.header__wrapper header {
  width: 100%;
  background: url("../BancoImagens/bg.jpeg") no-repeat 50% 20% / cover;
  min-height: calc(100px + 15vw);
}

.header__wrapper .cols__container .left__col {
  padding: 25px 20px;
  text-align: center;
  max-width: 350px;
  position: relative;
  margin: 0 auto;
}

.header__wrapper .cols__container .left__col .img__container {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translatex(-50%);
}
.header__wrapper .cols__container .left__col .img__container img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
}
.header__wrapper .cols__container .left__col .img__container span {
  position: absolute;
  background: #2afa6a;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  bottom: 3px;
  right: 11px;
  border: 2px solid #fff;
}
.header__wrapper .cols__container .left__col h2 {
  margin-top: 60px;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 5px;
}
.header__wrapper .cols__container .left__col p {
  font-size: 0.9rem;
  color: #818181;
  margin: 0;
}
.header__wrapper .cols__container .left__col .about {
  justify-content: space-between;
  position: relative;
  margin: 35px 0;
}
.header__wrapper .cols__container .left__col .about li {
  display: flex;
  flex-direction: column;
  color: #818181;
  font-size: 0.9rem;
}
.header__wrapper .cols__container .left__col .about li span {
  color: #1d1d1d;
  font-weight: 600;
}
.header__wrapper .cols__container .left__col .about:after {
  position: absolute;
  content: "";
  bottom: -16px;
  display: block;
  background: #cccccc;
  height: 1px;
  width: 100%;
}
.header__wrapper .cols__container .content p {
  font-size: 1rem;
  color: #1d1d1d;
  line-height: 1.8em;
}
.header__wrapper .cols__container .content ul {
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.header__wrapper .cols__container .content ul li {
  display: flex;
}
.header__wrapper .cols__container .content ul i {
  font-size: 1.3rem;
}
.header__wrapper .cols__container .content .FB {
  display: block;
  padding: 10px 25px;
  background-color:transparent;
  color: #FF914D;
  font-size: 14px;
  text-decoration: none;
  border: 2px solid #FF914D;
  margin-top: 15px;
  margin-left: 115px;
  transition: 0.5s ease;
  font-family: 'Josefin Sans',sans-serif;
  font-weight: 400;
}
.header__wrapper .cols__container .content .FB:hover {
  cursor: pointer;
  background-color: #FF914D;
  color: #fff;
  text-decoration: none;
}


.header__wrapper .cols__container .right__col .icc  {
  display: flex;
  align-items: center;
  padding: 30px 0;
  justify-content: space-between;
  flex-direction: column;
}
.header__wrapper .cols__container .right__col .icc ul {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.header__wrapper .cols__container .right__col .icc ul li a {
  text-transform: uppercase;
  color: #818181;
  text-decoration: none;
}
.header__wrapper .cols__container .right__col .icc ul li:nth-child(1) a {
  color: #1d1d1d;
  font-weight: 600;
}


.header__wrapper .cols__container .right__col .icc:after {
  position: absolute;
  content: "";
  bottom: 500px;
  display: block;
  background: #cccccc;
  height: 1px;
  width: 50%;
} 

.header__wrapper .cols__container .right__col .photos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 20px;
}
.header__wrapper .cols__container .right__col .photos img {
  max-width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}

/* Responsiveness */

@media (min-width: 868px) {
  .header__wrapper .cols__container {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
  }
  .header__wrapper .cols__container .left__col {
    padding: 25px 0px;
  }
  .header__wrapper .cols__container .right__col .icc ul {
    flex-direction: row;
    gap: 30px;
  }
  .header__wrapper .cols__container .right__col .photos {
    height: 365px;
    overflow: auto;
    padding: 0 0 30px;
  }
}

@media (min-width: 1017px) {
  .header__wrapper .cols__container .left__col {
    margin: 0;
    margin-right: auto;
  }
  .header__wrapper .cols__container .right__col .icc {
    flex-direction: row;
  }
  .header__wrapper .cols__container .right__col .icc button {
    margin-top: 0;
  }
}


/* FOOTER */ 


.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  margin-top: 150px;
  bottom: 0;
  width: 100%;
  font-family:'Josefin Sans',sans-serif;
    font-weight:300;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5;
  max-width:1130px ;
}

.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#FF914D;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#FF914D;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:30px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}


.copyright-text img{
 height: 25px;
 width: auto;

}

@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:1;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:10px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:10px;
  text-align:center;
  margin-right:4px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons img {
   width: 100%;
   height: auto;
 }

.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.discord:hover
{
  background-color:#007bb6
}

.social-icons a.instagram:hover
{
  background-color:#ab00ed
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:1;
    font-weight:600
  }
}